SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/dragolink?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root
REDIS_URL=rediss://default:your_upstash_redis_password@your_upstash_redis_endpoint:6379
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000,http://localhost:5174
