@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-secondary: #f43f5e;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}
